.frame-list {
  list-style: none;
  padding-left: 0;
  perspective: 100px;
}

.frame-item-enter {
  opacity: 0.01;
  max-height: 0;
}

.frame-item-enter.frame-item-enter-active {
  opacity: 1;
  max-height: 2300px;
  transition: opacity,max-height 0.8s ease-in;
}

.frame-item {
  border: 1px solid #d2d2d2;
  border-radius: 1px;
  margin-bottom: 14px;
  background-color: #fcfcfc;

  .header {
    border-bottom: 1px solid #d2d2d2;
    overflow-y: auto;
    background-color: #ffffff;
  }

  .actions {
    float: right;
  }

  .action {
    padding: 8px 10px;
    display: inline-block;
    border-left: 1px solid #d2d2d2;
    color: inherit;
  }

  .query pre {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  .body {
    display: flex;

    .sidebar {
      flex: 0.02;
      background: #f9f9f9;
      border-right: 1px solid #d4d4d4;
    }

    .main {
      flex: 1;
      display: flex;
      height: 400px;
      flex-direction: column;
    }

    .content-container {
      flex: 0.9;
      display: flex;
    }

    .content {
      flex: 1;
    }

    pre {
      overflow: auto;
      margin: 0;
      padding: 13px 17px;
      border: 0;
    }

    .sidebar-nav {
      list-style: none;
      padding-left: 0;

      .sidebar-nav-item {
        text-align: center;
        padding: 13px 11px;
        display: block;
        color: gray;
        border-bottom: 1px solid #d4d4d4;
        text-decoration: none;

        .menu-label {
          margin-top: 6px;
          display: block;
          text-transform: uppercase;
          font-size: 11px;
        }

        .fa {
          font-size: 23px;
        }

        svg {
          fill: gray;
        }

        &.active {
          color: #000000;

          svg {
            fill: #000000;
          }

          .menu-label {
            font-weight: 600;
          }
        }

        &:hover {
          text-decoration: none;
        }

        &:not(.active):hover {
          background: #d2d0d0;
          color: #000000;

          svg {
            fill: #000000;
          }
        }
      }

      .icon {
        display: block;
      }
    }
  }
}

.footer {
  flex: 0.1;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;

  .stats {
    list-style: none;
    padding-left: 0;
  }

  .stat {
    display: inline-block;
    margin-right: 15px;
  }

  .value {
    font-weight: 500;
  }
}
